.tabItemText {
    :global(.adm-tab-bar-item-title){
  font-size: 12px !important;
  line-height: 12px !important;
}
:global(.adm-tab-bar-item-title-with-icon){
    margin-top: 0;
}
} 

.topShadow {
  width: 100vw;
  border-top: 0.5px solid #b2b2b2;
  pointer-events: none;
  z-index: 100;
} 
